/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23 Oct 2023, 9:22:58 am
    Author     : hahah
*/
.topTitle{
    -fx-background-color: linear-gradient(to bottom right, #ea870e, #ffea00);
/*    -fx-border-color: #000000;
    -fx-border-width: 4px;*/
}

.background{
    -fx-background-color: linear-gradient(to bottom right, #D7481B, #E48948);
}

.menu{
    -fx-background-color: linear-gradient(to bottom right, #00133E, #003CC5);
    -fx-background-radius: 8px;
}

.maincontent{
    -fx-background-color: linear-gradient(to bottom right,  #11839a, #42823d);
    -fx-background-radius: 8px;
}

.search{
    -fx-background-color: #ea870e;
}

.white-background {
    -fx-background-color: #fff;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.round-layout{
    -fx-border-radius: 50;
    -fx-border-color: #D7D7D7;
}

.opacityDown{
    -fx-opacity: 0.6;
}

.mouse-move:hover{
    /*-fx-background-color: #E4E4E4;*/
    -fx-opacity: 1;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 10, 0,0,10);
}
